<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="robots" content="all">
    <meta name="renderer" content="webkit">
    <title>九亩花田官网</title>
    <meta name="Keywords" content="九亩花田，九亩花田官网，九亩花田品牌官网，九亩花田加盟，奶茶店加盟，答案茶加盟，九亩花田答案茶，九亩花田答案茶加盟，茶饮店加盟，茶饮软欧包，茶饮软欧包加盟，奶茶加盟店，奶茶品牌加盟，奶茶店加盟哪个品牌好，奶茶店加盟哪个好，九亩花田脏脏茶，怎么开奶茶店，奶茶品牌哪个好" />
    <meta name="Description" content="九亩花田，九亩花田官网，九亩花田品牌官网，九亩花田加盟，奶茶店加盟，答案茶加盟，九亩花田答案茶，九亩花田答案茶加盟，茶饮店加盟，茶饮软欧包，茶饮软欧包加盟，奶茶加盟店，奶茶品牌加盟，奶茶店加盟哪个品牌好，奶茶店加盟哪个好，九亩花田脏脏茶，怎么开奶茶店，奶茶品牌哪个好" />
    <!--<link rel="shortcut icon" href="favicon.ico" />-->
    <link rel="stylesheet" type="text/css" href="/static//static/css/style.css" />
    <script src="/static/js/jquery-1.12.0.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/slides.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/rslide.js" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript">
        (function(){
          var ua = window.navigator.userAgent.toLowerCase();
          if (!(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent))) {
              // window.location.href = "http://112.126.69.72:8080/";
          }
          else if (ua.indexOf("iphone") > 0 || ua.indexOf("android") > 0) {
              window.location.href = "http://m.jiumuhuatian.com"; 
          } 
        }());
    </script>
    <script>(function() {var _53code = document.createElement("script");_53code.src = "https://tb.53kf.com/code/code/10173852/1";var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(_53code, s);})();</script>
</head>

<body>

    <div class="home-header">
        <div class="home-header-logo">
            <a href="">
                <img src="/static/images/logo.svg" alt="">
            </a>
        </div>
        <div class="home-header-nav">
            <ul>
                <li>
                    <a class="active" title="" href="#">首页</a>
                </li>
                <li>
                    <a title="" href="/aboutus">关于</a>
                </li>
                <li>
                    <a title="" href="/news">资讯</a>
                </li>
                <li>
                    <a title="" href="/product">产品</a>
                </li>
                <li>
                    <a title="" href="/joinus">合作</a>
                </li>
                <li>
                    <a title="" href="/contact">联系</a>
                </li>
            </ul>
        </div>
    </div>


    <!--top end-->

    <div class="home-banner bgfff fullSlide">
        <div class="bd">
            <ul>
                <li style="background: url(/static/images/banner2.png) no-repeat center center;">
                    <a href=""></a>
                </li>
                <li style="background: url(/static/images/banner1.png) no-repeat center center;">
                    <a href=""></a>
                </li>
                <li style="background: url(/static/images/banner3.png) no-repeat center center;">
                    <a href=""></a>
                </li>
            </ul>
        </div>
        <div class="hd">
            <ul></ul>
        </div>
    </div>
    <script type="text/javascript">
        jQuery(".fullSlide").slide({
            titCell: ".hd ul",
            mainCell: ".bd ul",
            effect: "leftLoop",
            vis: "auto",
            autoPlay: true,
            autoPage: true,
            trigger: "click",
            speed: 500
        });
    </script>



    <div class="bgfff7">

        <div class="home-title pad60">关于九亩花田</div>

        <div class="home-about w1060 padb60">

            <div class="home-about-top clearfix">

                <div class="fl linear">
                    <img src="/static/images/about.png" width="100%" alt="">
                    <div class="text">
                        <h4 class="tec">关于九亩花田</h4>
                        <p class="ti">
                             九亩花田是本源健康产业有限公司旗下的餐饮品牌。提倡轻奢主义，以简约于形，时尚于心为产品内核，向用户传达崇尚真心、真性的品牌内涵。
                             采用混萃技术，茶、奶、果的多元高颜值融合，外加营养健康软欧包，为消费者制造与美味相遇的美好时光。九亩花田以健康、优质和差异化开启新中式茶饮5.0时代。
                        </p>
                    </div>
                </div>

                <div class="fr">

                    <div class="t linear">
                        <img src="/static/images/chayi.png" width="100%" alt="">
                        <div class="text">
                            <h4>茶饮系列</h4>
                            <p class="">
                                    <!-- 为了茶叶的芳香完美释放<br/>
                                    为了让茶叶与水融合实现完全的价值<br/>
                                    九亩花田的技术团队研发全新的泡茶艺术<br/> -->
                                    三大步骤：高温热水泡发 冷温锁香封味 真空高压萃取<br/>
                                    三大效果：减少茶涩的口感  减少茶单宁酸的释放   有利于保护肠胃
                                    
                            </p>
                        </div>
                    </div>


                    <div class="t linear" style="margin-top: 20px;">
                        <img src="/static/images/ruanoubao.png" width="100%" alt="">
                        <div class="text">
                            <h4>软欧包系列</h4>
                            <p>
                                从面粉到面团，给予每一个软欧包新生命。成品的软欧包，混合着坚果、杂粮等材料的表皮，香香脆脆，吃起来口感丰富，特别香甜浓郁。
                            </p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="home-about-bt linear" style="margin-top: 20px;">
                <img src="/static/images/wecando-b.png" width="100%" alt="">
                <div class="text" style=" left: 51%;">
                    <h4 class="tec">形象设计VI设计 门店设计</h4>
                    <p class="ti">
                        我们邀请国际顶级品牌设计总监主笔，打造轻奢风格的门店形象，简约于形，时尚于心。在品牌视觉传播上，同样以轻奢，简约，时尚为内核，传达真心真性的品牌内涵，精准定位年轻用户。
                    </p>
                </div>
            </div>


        </div>
    </div>


    <!--  -->


    <div class="bgf7f">
        <div class="home-title pad60">茶饮系列</div>
        <div class="w1060 slid-list-div">
            <i class="left"><img src="/static/images/arrow-left.png" alt=""></i>
            <div class="slid-list" id="slid1">
                <ul class="clearfix">
                    <li>
                        <span>
                                <img class="linear" src="/static/images/pnew01.jpg" alt="">
                        </span>
                        <p>四季春霜降</p>
                    </li>
                    <li>
                        <span>
                                    <img class="linear" src="/static/images/pnew02.jpg" alt="">
                            </span>
                        <p>桃香乌龙霜降</p>
                    </li>
                    <li>
                        <span>
                                        <img class="linear" src="/static/images/pnew03.jpg" alt="">
                                </span>
                        <p>玫瑰乌龙霜降</p>
                    </li>
                    <li>
                        <span>
                                            <img class="linear" src="/static/images/pnew04.jpg" alt="">
                                    </span>
                        <p>油切乌龙霜降</p>
                    </li>

                    <li>
                        <span>
                                            <img class="linear" src="/static/images/pnew05.jpg" alt="">
                                    </span>
                        <p>小确幸</p>
                    </li>
                    
                    <li>
                        <span>
                                            <img class="linear" src="/static/images/pnew06.jpg" alt="">
                                    </span>
                        <p>柠檬初上</p>
                    </li>
                    
                    <li>
                        <span>
                                            <img class="linear" src="/static/images/pnew07.jpg" alt="">
                                    </span>
                        <p>柒窨茉莉</p>
                    </li>
                    
                    
               

                </ul>
            </div>
            <i class="right"><img src="/static/images/arrow-right.png" alt=""></i>
        </div>

        <div class="home-title pad60">软欧包系列</div>
        <div class="w1060 slid-list-div padb60">
            <i class="left1"><img src="/static/images/arrow-left.png" alt=""></i>
            <div class="slid-list" id="slid2">
                <ul class="clearfix">
                    <li>
                        <span>
                                <img class="linear" src="/static/images/r02.png" alt="">
                        </span>
                    </li>
                    <li>
                        <span>
                                    <img class="linear" src="/static/images/r03.png" alt="">
                            </span>
                    </li>
                    
                    <li>
                        <span>
                                            <img class="linear" src="/static/images/r04.png" alt="">
                                    </span>
                    </li>
                    <li>
                        <span>
                                            <img class="linear" src="/static/images/r05.png" alt="">
                                    </span>
                    </li>
                    <li>
                        <span>
                                            <img class="linear" src="/static/images/r06.png" alt="">
                                    </span>
                    </li>
                    <li>
                        <span>
                                            <img class="linear" src="/static/images/rnew02.png" alt="">
                                    </span>
                    </li>
                </ul>
            </div>
            <i class="right1"><img src="/static/images/arrow-right.png" alt=""></i>
        </div>


    </div>


    <div class="bgfff7">
        <div class="home-title pad60">合作流程</div>

        <div class="rz-list w1060">
            <ul class="clearfix">
                <li>
                    <img src="/static/images/flow01.png" alt="">
                    <h4>项目咨询</h4>
                    <p class="tel">前期沟通，对公司及项目进行了解</p>
                </li>
                <li>
                    <img src="/static/images/flow02.png" alt="">
                    <h4>实地考察</h4>
                    <p class="tel">合作商有意向后实地考察公司了解项目，进行业务交流</p>
                </li>
                <li>
                    <img src="/static/images/flow03.png" alt="">
                    <h4>资格审核</h4>
                    <p class="tel">总部对合作商进行资格审核，确保项目双赢</p>
                </li>
                <li>
                    <img src="/static/images/flow04.png" alt="">
                    <h4>合作签约</h4>
                    <p class="tel">正式签约成为城市合伙人，合作商应提供相关证件和交纳相关费用</p>
                </li>
                <li>
                    <img src="/static/images/flow05.png" alt="">
                    <h4>总部培训</h4>
                    <p class="tel">总部对合伙人进行技术及经营管理培训，并提供相关设备、原料、选址、门店设计
等相关支持</p>
                </li>
                <li>
                    <img src="/static/images/flow06.png" alt="">
                    <h4>新店开业</h4>
                    <p class="tel">门店试营业，总部在经营期间提供驻店督导门店运营，门店正式营业</p>
                </li>
            </ul>
        </div>

        <div class="rz-list-btn pad60">
            <a href="/joinus">了解详情</a>
        </div>
    </div>



    <div class="bgf7f">
        <div class="home-title pad60">关于本源</div>
        <div class="w1060 home-aboutus clearfix padb60">
            <div class="fl">
                <h4 class="fs20">20年专注健康生活服务产业</h4>
                <p class="ti">
                    广州本源健康产业有限公司，是一家多元化发展的企业，
                    涉猎四大产业：餐饮连锁产业、餐饮原料产业、茶业产业、
                    美妆服务产业。公司创办已有20多年历史，并于2015年在广州股权交易中心挂牌上市。
                    公司本着“万物之本，包罗万象，源源不断”的品牌理念，以“上善若水“为品牌内涵，
                    对产品严格品控，层层把关，致力于为消费者提供健康、有品质的生活。
                </p>
                <p class="ti">
                    2015年 本源集团着手新中式健康茶饮技术研发、茶饮品牌运营策划及茶饮技术团队建设，
                    历时两年，2017年本源新中式健康茶饮品牌”九亩花田 ” 正式投入市场，开启中国茶饮5.0时代。
                    本源人将以不变的执着和情怀，勇往向前，谱写新的华章。
                </p>
            </div>
            <div class="fr">
                <span>
                     <img src="/static/images/company.png" alt="">
                 </span>
            </div>
        </div>
    </div>

    <!--<div class="bgef7">
        <div class="home-title pad60">新闻资讯</div>
        <div class="w1060 home-news clearfix padb60">
            <ul class="clearfix">
                <li>
                    <a href="./news.html">
                        <span><img src="/static/images/new01.png" class="linear" alt=""></span>
                        <h4>九亩花田：现萃茶汤，让茶饮好喝的密秘</h4>
                        <p>茶要好喝，原料是很重要，明前的茶叶要比谷雨的茶叶要好，春茶要比秋茶要好， 高山的茶要比平地茶要好。九亩花田在茶叶原料方面有得天独厚的优势...</p>
                    </a>
                    <div class="date">
                        <i>2018-4-12 </i>
                        <i><img src="/static/images/eye.svg" alt="">
                             14322
                            </i>
                    </div>
                </li>
                <li>
                    <a href="./news.html">
                        <span><img src="/static/images/new02.png" class="linear" alt=""></span>
                        <h4>九亩花田:一杯好茶+一份独特=十分好喝</h4>
                        <p>一杯茶饮+加一份软欧包的模式，在市面上已经火了，势如破竹，深受广大消费者喜爱。 九亩花田以健康+品质+差异化+网红茶的新经营模式，全面开启中国茶饮5.0时代...</p>
                    </a>
                    <div class="date">
                        <i>2018-4-12 </i>
                        <i><img src="/static/images/eye.svg" alt="">
                                10987
                               </i>
                    </div>
                </li>
                <li>
                    <a href="./news.html">
                        <span><img src="/static/images/new03.png" class="linear" alt=""></span>
                        <h4>软欧包为什么这么火，九亩花田为你说答案</h4>
                        <p> 如今，随着人们的生活水平不断提高，消费观念也在不断的提升，特别是在吃这方面，人们不再像以前那样， 只求吃得饱，而是更讲究如何吃得好，对食物的口感和健康品质有着绝对的挑剔...</p>
                    </a>
                    <div class="date">
                        <i>2018-4-12 </i>
                        <i><img src="/static/images/eye.svg" alt="">
                                   5670 
                                   </i>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    -->

    <div class="home-contactus-bg">
        <div class="home-title pad60">联系我们</div>
        <div class="w1060 home-contactus clearfix">
            <div class="fl">
                <a href="http://j.map.baidu.com/QC0bP" target="_blank"><img src="/static/images/map.png" alt=""></a>
            </div>
            <div class="fl info">
                <h4>全球城市合伙人招募热线</h4>
                <h3>400-930-6667</h3>
                <p>
                    总机：020-86000678<br/> 传真：020-86000108
                    <br/> 地址：广州市白云区机场路1962号国际单位E栋602
                </p>
            </div>
        </div>
    </div>

    <div class="home-footer bgfff">
        <p class="fs16">广州本源健康产业有限公司 ©2008-2018 <a href="http://www.miitbeian.gov.cn/">粤ICP备12042485号-3</a></p>
    </div>


</body>

</html>