<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="robots" content="all">
    <meta name="renderer" content="webkit">
    <title>九亩花田官网</title>
    <meta name="Keywords" content="九亩花田，九亩花田官网，九亩花田品牌官网，九亩花田加盟，奶茶店加盟，答案茶加盟，九亩花田答案茶，九亩花田答案茶加盟，茶饮店加盟，茶饮软欧包，茶饮软欧包加盟，奶茶加盟店，奶茶品牌加盟，奶茶店加盟哪个品牌好，奶茶店加盟哪个好，九亩花田脏脏茶，怎么开奶茶店，奶茶品牌哪个好" />
    <meta name="Description" content="九亩花田，九亩花田官网，九亩花田品牌官网，九亩花田加盟，奶茶店加盟，答案茶加盟，九亩花田答案茶，九亩花田答案茶加盟，茶饮店加盟，茶饮软欧包，茶饮软欧包加盟，奶茶加盟店，奶茶品牌加盟，奶茶店加盟哪个品牌好，奶茶店加盟哪个好，九亩花田脏脏茶，怎么开奶茶店，奶茶品牌哪个好" />
    <!--<link rel="shortcut icon" href="favicon.ico" />-->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <script src="/static/js/jquery-1.12.0.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/slides.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/rslide.js" type="text/javascript" charset="utf-8"></script>
    <script>(function() {var _53code = document.createElement("script");_53code.src = "https://tb.53kf.com/code/code/10173852/1";var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(_53code, s);})();</script>
</head>

<body>
    <div class="home-header">
        <div class="home-header-logo">
            <a href="">
                <img src="/static/images/logo.svg" alt="">
            </a>
        </div>
        <div class="home-header-nav">
            <ul>
                <li>
                    <a class="" title="" href="/index">首页</a>
                </li>
                <li>
                    <a class="" title="" href="/aboutus">关于</a>
                </li>
                <li>
                    <a title="" href="/news">资讯</a>
                </li>
                <li>
                    <a title="" href="/product">产品</a>
                </li>
                <li>
                    <a class="active" title="" href="/joinus">合作</a>
                </li>
                <li>
                    <a title="" href="/contact">联系</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="home-banner">
        <img src="/static/images/join_banner.png">
    </div>

    <div class="tabs w1060">
        <div class="tab-item">
            <div id="tab_process">合作流程</div>
            <div id="tab_require">资质要求</div>
            <div id="tab_advantage">合作优势</div>
            <div id="tab_support">总部支持</div>
        </div>
    </div>
    <div class="card w1060" id="process" style="padding-top: 50px; padding-bottom: 50px;">
        <div class="rz-list w1060">
            <ul class="clearfix">
                <li>
                    <img src="/static/images/flow01.png" alt="">
                    <h4>项目咨询</h4>
                    <p>前期沟通，对公司及项目进行了解</p>
                </li>
                <li>
                    <img src="/static/images/flow02.png" alt="">
                    <h4>实地考察</h4>
                    <p>合作商有意向后实地考察公司了解项目，进行业务交流</p>
                </li>
                <li>
                    <img src="/static/images/flow03.png" alt="">
                    <h4>资格审核</h4>
                    <p>总部对合作商进行资格审核，确保项目双赢</p>
                </li>
                <li>
                    <img src="/static/images/flow04.png" alt="">
                    <h4>合作签约</h4>
                    <p>正式签约成为城市合伙人，合作商应提供相关证件和交纳相关费用</p>
                </li>
                <li>
                    <img src="/static/images/flow05.png" alt="">
                    <h4>总部培训</h4>
                    <p>总部对合伙人进行技术及经营管理培训，并提供相关设备、原料、选址、门店设计等相关支持</p>
                </li>
                <li>
                    <img src="/static/images/flow06.png" alt="">
                    <h4>新店开业</h4>
                    <p>门店试营业，总部在经营期间提供驻店督导门店运营，门店正式营业</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="card w1060 tec" id="require" style="padding-top: 50px; padding-bottom: 50px; ">
        <p class="fface fs16  tel" style="text-indent: 2em;">公司合伙开店体系有着稳定踏实的经营策略，及强而有力的市场趋势，给合伙人提供更多帮助，减低经营风险，稳定获利。</p>
        <p class="fs16 fface tel" style="text-indent: 2em;">
            公司具有完备的后勤支援管道，让九亩花田合伙人无后顾之忧，并以相互合理服务，良好的疏通到店原则，与创业合伙人一同开创事业的成功。
        </p>
        <img src="/static/images/join_aptitude.png" style="margin-top: 41px; width: 100%;" >
        <p class="fs20 fftitle tel" style="margin-top: 60px;">申请者需要符合</p>
        <p class="fs16 fface tel" style="margin-top: 20px;">
            1、认同茶饮市场前景及发展趋势；<br/>
            2、熟悉当地消费市场和商圈情况，对服务行业有一定的认知；<br>
            3、具备相应的经济投资能力，并对投资收益及风险有正确的认知；<br>
            4、认同并遵守企业的发展理念和经营规范，愿意配合公司的重要利好决策；<br>
            5、有强烈的事业心，对门店的经营管理能保持全身心的投入；
        </p>
    </div>
    <div class="card w1060" id="advantage" style="padding-top: 50px; padding-bottom: 50px; ">
        <p class="fs20 fftitle" style="margin-top: 0;">专一经营团队</p>
        <div class="join-require">
            <div class="box fl tec" style="border-right: 0px solid #fff">
                <img src="/static/images/join_pic1.png">
                <p class="fs18">专一物流配送</p>
                <p class="fs16 fface">为维持产品品质，保证门店原物料充足，每天新鲜及时配送。</p>
            </div>
            <div class="box fl tec" style="border-right: 0px solid #fff">
                <img src="/static/images/join_pic2.png">
                <p class="fs18">专一物流配送</p>
                <p class="fs16 fface">为维持产品品质，保证门店原物料充足，每天新鲜及时配送。</p>
            </div>
            <div class="box fl tec">
                <img src="/static/images/join_pic3.png">
                <p class="fs18">专一物流配送</p>
                <p class="fs16 fface">为维持产品品质，保证门店原物料充足，每天新鲜及时配送。</p>
            </div>
            <div class="clearfix"></div>
        </div>

        <p class="fs20 fftitle">自产茶叶直供</p>
        <p class="fs16 fface text">
            本源在茶叶行业深耕26年，自有5700亩茶园种植基地
        </p>
        <p class="fs20 fftitle">新品研发团队</p>
        <p class="fs16 fface text">
            1200平米技术研发中心，专业研发团队引领产品风向标
        </p>
        <p class="fs20 fftitle">技能综合培训</p>
        <p class="fs16 fface text">
            资深产品技术总监，面对面教学，全面掌握实操要领
        </p>
        <p class="fs20 fftitle">集优选址辅助</p>
        <p class="fs16 fface text">
            科学、严谨的选址方案，提高决策效率，降低决策风险
        </p>
        <p class="fs20 fftitle">空间设计引流</p>
        <p class="fs16 fface text">
            国际顶级品牌设计总监主笔，打造轻奢时尚的门店形象
        </p>
        <p class="fs20 fftitle">运营策划指导</p>
        <p class="fs16 fface text">
            6年连锁品牌成功经验，200人专业营运团队保驾护航
        </p>
        <p class="fs20 fftitle">品牌深入推广</p>
        <p class="fs16 fface text">
            全国知名媒体、各大互联网搜索引擎,裂变式传播
        </p>
        <p class="fs20 fftitle">全程指导经营</p>
        <p class="fs16 fface text">
            提供店面实际经营支持，解决您的经营难题
        </p>
    </div>
    <div class="card w1060" id="support" style="padding-top: 50px; padding-bottom: 50px; ">

        <p class="fface fs16">1、专人协助选址及商圈评估，根据门店所在地经济水平、商圈环境等作出专业的选址分析与评估判断；</p>
        <p class="fface fs16">2、总部量身定制门店装修方案，提供装修所需平面图、施工图、效果图和详细装修预算；</p>
        <p class="fface fs16">3、完善的技能培训，毫无保留的提供门店员工专业的技术操作培训；</p>
        <p class="fface fs16">4、完善的经营管理培训，将长期的经营经验传承与分享，确保门店稳定获利；</p>
        <p class="fface fs16">5、总部产品技术研发中心，不断进行新品研发创新，保障门店拥有更优质的产品在市场上形成差异化与竞争优势。</p>
        <p class="fface fs16">6、总部为门店提供全套店务运营实施方案及营销策划支持，完善的售后服务为每个城市合伙人保驾护航。</p>

        <div class="slid-list" id="slid2" style="margin-top: 40px;">

                    <ul class="clearfix" style="margin-top: 20px;">
                        <li>
                            <span>
                                    <img class="linear" src="/static/images/join_sp1.png" alt="">
                            </span>
                            <p>商圈评估</p>
                        </li>
                        <li>
                            <span>
                                    <img class="linear" src="/static/images/join_sp2.png" alt="">
                            </span>
                            <p>全面培训</p>
                        </li>
                        <li>
                            <span>
                                <img class="linear" src="/static/images/join_sp3.png" alt="">
                            </span>
                            <p>24小时咨询服务</p>
                        </li>
                        <li>
                            <span>
                                <img class="linear" src="/static/images/join_sp4.png" alt="">
                            </span>
                            <p>配送系统</p>
                        </li>
                    </ul>
        </div>
    </div>

    <script type="text/javascript">
        $(function() {
            $('#tab_process').addClass('active')
            $('#require').hide()
            $('#advantage').hide()
            $('#support').hide()

            $('#tab_process').click(function() {

                $('#tab_process').removeClass('active')
                $('#tab_require').removeClass('active')
                $('#tab_advantage').removeClass('active')
                $('#tab_support').removeClass('active')
                $(this).addClass('active')

                $('#process').show()
                $('#require').hide()
                $('#advantage').hide()
                $('#support').hide()
            })
            $('#tab_require').click(function() {
                 $('#tab_process').removeClass('active')
                $('#tab_require').removeClass('active')
                $('#tab_advantage').removeClass('active')
                $('#tab_support').removeClass('active')
                $(this).addClass('active')

                $('#process').hide()
                $('#require').show()
                $('#advantage').hide()
                $('#support').hide()
            })
           $('#tab_advantage').click(function() {
                 $('#tab_process').removeClass('active')
                $('#tab_require').removeClass('active')
                $('#tab_advantage').removeClass('active')
                $('#tab_support').removeClass('active')
                $(this).addClass('active')

                $('#process').hide()
                $('#require').hide()
                $('#advantage').show()
                $('#support').hide()
            })

           $('#tab_support').click(function() {
                   $('#tab_process').removeClass('active')
                $('#tab_require').removeClass('active')
                $('#tab_advantage').removeClass('active')
                $('#tab_support').removeClass('active')
                $(this).addClass('active')

                $('#process').hide()
                $('#require').hide()
                $('#advantage').hide()
                $('#support').show()
            })
        })
    </script>
   <div class="home-footer bgfff">
        <p class="fs16">广州本源健康产业有限公司 ©2008-2018 <a href="http://www.miitbeian.gov.cn/">粤ICP备12042485号-3</a></p>
    </div>
</body>
