<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="robots" content="all">
    <meta name="renderer" content="webkit">
    <title>九亩花田官网</title>
    <meta name="Keywords" content="九亩花田，九亩花田官网，九亩花田品牌官网，九亩花田加盟，奶茶店加盟，答案茶加盟，九亩花田答案茶，九亩花田答案茶加盟，茶饮店加盟，茶饮软欧包，茶饮软欧包加盟，奶茶加盟店，奶茶品牌加盟，奶茶店加盟哪个品牌好，奶茶店加盟哪个好，九亩花田脏脏茶，怎么开奶茶店，奶茶品牌哪个好" />
    <meta name="Description" content="九亩花田，九亩花田官网，九亩花田品牌官网，九亩花田加盟，奶茶店加盟，答案茶加盟，九亩花田答案茶，九亩花田答案茶加盟，茶饮店加盟，茶饮软欧包，茶饮软欧包加盟，奶茶加盟店，奶茶品牌加盟，奶茶店加盟哪个品牌好，奶茶店加盟哪个好，九亩花田脏脏茶，怎么开奶茶店，奶茶品牌哪个好" />
    <!--<link rel="shortcut icon" href="favicon.ico" />-->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <script src="/static/js/jquery-1.12.0.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/slides.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/rslide.js" type="text/javascript" charset="utf-8"></script>
    <script>(function() {var _53code = document.createElement("script");_53code.src = "https://tb.53kf.com/code/code/10173852/1";var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(_53code, s);})();</script>
</head>

<body>
    <div class="home-header">
        <div class="home-header-logo">
            <a href="">
                <img src="/static/images/logo.svg" alt="">
            </a>
        </div>
        <div class="home-header-nav">
            <ul>
                <li>
                    <a class="" title="" href="./index.html">首页</a>
                </li>
                <li>
                    <a class="" title="" href="./aboutus.html">关于</a>
                </li>
                <li>
                    <a class="active" title="" href="./news.html">资讯</a>
                </li>
                <li>
                    <a title="" href="./product.html">产品</a>
                </li>
                <li>
                    <a title="" href="./joinus.html">合作</a>
                </li>
                <li>
                    <a title="" href="./contact.html">联系</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="home-banner">
        <img src="/static/images/news_banner.png">
    </div>


    <div class="card w1060" style="padding-top: 41px; padding-bottom: 64px;">

        <div class="newsdetail-item">
            <div class="fl">
                <img src="/static/images/new01.png" alt="" style="width: 220px; height: 150px;">
            </div>
            <div class="fl" style="margin-left: 33px; border: 0px solid #000; width: 738px;">
                <p class="fftitle">
                    <a href="./news_detail.html#news01">5月捷报连连，多家商户选择与九亩花田喜结连理</a>
                </p>
                <p class="fs16 fface" style="margin-top: 13px;">
                    家有梧桐树，自有凤来栖。五月份以来，本源健康产业有限公司旗下新茶饮品牌九亩花田， 迎来了多位城市合伙人签约合作，这是九亩花田开拓茶饮市场迈出的稳健的第一步...
                </p>
                <div class="date" style="margin-top: 25px; color : #999999;">
                    <i>2018-4-12</i>
                    <i>
                        <img src="/static/images/eye.svg" alt="">8764
                    </i>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="newsdetail-item">
            <div class="fl">
                <img src="/static/images/new01.png" alt="" style="width: 220px; height: 150px;">
            </div>
            <div class="fl" style="margin-left: 33px; border: 0px solid #000; width: 738px;">
                <p class="fftitle">
                    <a href="./news_detail.html#news02">新人没经验？教你如何正确地开一家奶茶店</a>
                </p>
                <p class="fs16 fface" style="margin-top: 13px;">
                    随着网红奶茶的崛起，越来越多人想到这个低投入高产出的产业分一杯羹。开店一般有两种选择，一是自己开店，二是成熟的项目合作。大部分人首先考虑的是自己开店，毕竟可以省掉一笔签约费...
                </p>
                <div class="date" style="margin-top: 25px; color : #999999;">
                    <i>2018-4-12</i>
                    <i>
                        <img src="/static/images/eye.svg" alt="">14563
                    </i>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="newsdetail-item">
            <div class="fl">
                <img src="/static/images/new01.png" alt="" style="width: 220px; height: 150px;">
            </div>
            <div class="fl" style="margin-left: 33px; border: 0px solid #000; width: 738px;">
                <p class="fftitle">
                    <a href="./news_detail.html#news03">九亩花田：现萃茶汤，让茶饮好喝的密秘</a>
                </p>
                <p class="fs16 fface" style="margin-top: 13px;">
                    茶要好喝，原料是很重要，明前的茶叶要比谷雨的茶叶要好，春茶要比秋茶要好， 高山的茶要比平地茶要好。九亩花田在茶叶原料方面有得天独厚的优势...
                </p>
                <div class="date" style="margin-top: 25px; color : #999999;">
                    <i>2018-4-12 </i>
                    <i>
                        <img src="/static/images/eye.svg" alt=""> 14322
                    </i>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="newsdetail-item">
            <div class="fl">
                <img src="/static/images/new02.png" alt="" style="width: 220px; height: 150px;">
            </div>
            <div class="fl" style="margin-left: 33px; border: 0px solid #000; width: 738px;">
                <p class="fftitle">
                    <a href="./news_detail.html#news04">九亩花田:一杯好茶+一份独特=十分好喝</a>
                </p>
                <p class="fs16 fface" style="margin-top: 13px;">
                    一杯茶饮+加一份软欧包的模式，在市面上已经火了，势如破竹，深受广大消费者喜爱。 九亩花田以健康+品质+差异化+网红茶的新经营模式，全面开启中国茶饮5.0时代...
                </p>
                <div class="date" style="margin-top: 25px; color : #999999;">
                    <i>2018-4-12 </i>
                    <i>
                        <img src="/static/images/eye.svg" alt=""> 10987
                    </i>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="newsdetail-item">
            <div class="fl">
                <img src="/static/images/new03.png" alt="" style="width: 220px; height: 150px;">
            </div>
            <div class="fl" style="margin-left: 33px; border: 0px solid #000; width: 738px;">
                <p class="fftitle">
                    <a href="./news_detail.html#news05">软欧包为什么这么火，九亩花田为你说答案</a>
                </p>
                <p class="fs16 fface" style="margin-top: 13px;">
                    如今，随着人们的生活水平不断提高，消费观念也在不断的提升，特别是在吃这方面，人们不再像以前那样， 只求吃得饱，而是更讲究如何吃得好，对食物的口感和健康品质有着绝对的挑剔...
                </p>
                <div class="date" style="margin-top: 25px; color : #999999;">
                    <i>2018-4-12 </i>
                    <i>
                        <img src="/static/images/eye.svg" alt=""> 5670
                    </i>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="newsdetail-item">
            <div class="fl">
                <img src="/static/images/new03.png" alt="" style="width: 220px; height: 150px;">
            </div>
            <div class="fl" style="margin-left: 33px; border: 0px solid #000; width: 738px;">
                <p class="fftitle">
                   <a href="./news_detail.html#news06">答案茶广受年经人追捧</a>
                </p>
                <p class="fs16 fface" style="margin-top: 13px;">
                    随着抖音等新兴社交平台的火爆，很多新颖的品牌开始广为人知，答案茶就是借助抖音迅速走红的一个奶茶品牌。 答案茶用崭新且具创意的形式，打破行业沉闷现象。为消费者呈现了全新茶饮体验 ...
                </p>
                <div class="date" style="margin-top: 25px; color : #999999;">
                    <i>2018-4-12 </i>
                    <i>
                        <img src="/static/images/eye.svg" alt=""> 8768
                    </i>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="home-footer bgfff">
        <p class="fs16">广州本源健康产业有限公司 ©2008-2018
            <a href="http://www.miitbeian.gov.cn/">粤ICP备12042485号-3</a>
        </p>
    </div>
</body>